:root {
  --vp-c-brand: #ba68c8;
  --vp-c-brand-light: #ce93d8;
  --vp-c-brand-dark: #ab47bc;
  --vp-button-brand-bg: #ba68c8;
  --vp-button-brand-border: #ba68c8;
  --vp-button-brand-hover-border: #ce93d8;
  --vp-button-brand-active-border: #ce93d8;
  --vp-link-color: #ba68c8;
  --vp-link-color-hover: #ab47bc;
}